<div>
  <p>
    « Ce n' est pas ce que vous regardez qui a de l' importance, mais c' est ce
    que vous voyez »
  </p>
  <button>Ce qu'en disent nos clients</button>
</div>
<div class="activities">
  <div class="activity">
    <p>Atelier de <strong>Tatouages</strong></p>
    <p>Tattoo cover |Tattoo flash| Tattoo sur-mesure</p>
    <button routerLink="/tattoo" routerLinkActive="active">Découvrir</button>
  </div>
  <div class="activity">
    <p>Salon de <strong>Piercings</strong></p>
    <p>Piercing à Grenoble sans rendez-vous</p>
    <button routerLink="/piercing" routerLinkActive="Active">Découvrir</button>
  </div>
  <div class="activity">
    <p>Clinique de <strong>Dermographie</strong></p>
    <p>Le must du maquillage permanent</p>
    <button routerLink="/dermographie" routerLinkActive="Active">
      Découvrir
    </button>
  </div>
</div>
<h2>Horaires d'ouverture</h2>
<p>Venez nous rencontrer :</p>
<p>Lundi à Vendredi : 10h-18h</p>
<p>Samedi : 14h-18h</p>
<p>Fermé le Dimance</p>
