div {
    background-color: grey;
    }
    h1{
        color: white;
        font-size: 30px;
        font-family : Helvetica;
        text-align: center;
    }
    .activities {
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }