<h1>LA RÉFÉRENCE PIERCING SANS RENDEZ-VOUS À GRENOBLE</h1>
<p>
  Située à Grenoble, sur les quais de l'Isère coté téléphérique. Ma petite
  imprimerie salon de piercing, vous accueille avec et sans rendez-vous. Notre
  force réside dans l'accompagnement bienveillant et le conseil professionnel.
  Nous mettons notre expérience à votre service, 7J/7, pour répondre à vos
  questions. Nous assurons également le suivi des piercings exécutés chez nos
  confrères. Nous mettons tout en œuvre pour vous satisfaire et transformer
  votre expérience de piercing en un moment unique. Ma petite imprimerie, est le
  nouveau salon de piercing sans rendez-vous de référence à Grenoble.
</p>
<div>
  <h2>LE PIERCING FREEHAND</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Découvrez l'art du piercing à main levée</p>
  <button routerLink="/freehand" routerLinkActive="active">Découvrir</button>
</div>
<div>
  <h2>OBJECTIF : TOP HYGIENE</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Rigueur & Précision chirurgicales</p>
  <button routerLink="/hygienepiercing" routerLinkActive="active">
    Nos engagements
  </button>
</div>
<div>
  <h2>PIERCING À PETITS PRIX</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Piercings pas chers et stylés</p>
  <button routerLink="/tarifs" routerLinkActive="active">Nos tarifs</button>
</div>
<div>
  <h2>CONSEILS PIERCINGS & FICHE DE SOINS</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Nos conseils accessibles 7j/7 & 24h/24</p>
  <button>Protocole de soins</button>
</div>
<div>
  <h2>LE PIERCING INTIME EN TOUTE DISCRETION</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Laisser vous tenter par un bijou un brin coquin.</p>
  <button>Nos prestations</button>
</div>
<div>
  <h2>NOS PIERCING EN PHOTOS</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Vos piercings favoris</p>
  <button>Voir</button>
</div>
<div>
  <h2>HORAIRES & CONTACT</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Piercing avec ou sans rendez-vous</p>
  <button>Nos Coordonnées</button>
  <!--Lien vers le formulaire de contact directement ?-->
</div>
<div>
  <h2>LES NOUVEAUTÉS PIERCING</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Bienvenue dans l'univers du piercing d'hier et d'aujourd'hui.</p>
  <button>Immersion</button>
</div>
