<h1>
  Tatouage minimaliste, gothique, chic... La référence à Grenoble (Isère, 38)
</h1>
<p>
  Située à Grenoble, sur les quais de l'Isère coté téléphérique. Ma petite
  imprimerie Tatoueur Grenoble, vous accueille avec et sans rendez-vous. Notre
  force réside dans l'accompagnement bienveillant et le conseil professionnel.
  Nous mettons notre expérience à votre service, 7J/7, pour répondre à vos
  questions. Du tattoo cover à la créations sur-mesure en passant par les
  tattoos flash à petits prix. Nous mettons tout en œuvre pour vous satisfaire
  et transformer votre expérience de tatouage en un moment unique. Ma petite
  imprimerie, est le nouveau tattoo shop de référence à Grenoble.
</p>
<div>
  <h2>TATOUAGE SUR MESURE</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>
    Ma petite imprimerie est un atelier de tatouage unique à Grenoble. Nos
    artistes sont à votre écoute et conçoivent vos tatouages personnalisés
    sur-mesure, en respectant vos volontés et votre vision. Parce-que chaque
    expérience est unique et personnelle, nous réalisons votre projet avec un
    grand respect et une grande ouverture d’esprit. De la petite phrase choc, au
    grand motif gothique chic, en passant par la petite fleur délicate et
    minimaliste, nous étudierons tous vos projet tatouage avec bienveillance et
    professionnalisme.
  </p>
  <button routerLink="/contact" routerLinkActive="active">
    Contactez-nous
  </button>
</div>
<div>
  <h2>OBJECTIF : TOP HYGIENE</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>
    Nous savons que vous avez beaucoup de choix en termes de salons de tatouage
    dans la région de Grenoble, l’hygiène et la salubrité sont souvent au cœur
    de vos inquiétudes. A Ma petite imprimerie nous mettons en place un
    protocole rigoureux avant/pendant/après intervention, afin de vous garantir
    une hygiène et des soins impeccables. L'ensemble de nos encres et pigments,
    nos soins et méthodes de travail sont strictement contrôlés et
    rigoureusement appliqués. Ainsi, vous pouvez réaliser votre rêve en toute
    sérénité.
  </p>
  <button routerLink="/hygiene" routerLinkActive="active">
    Nos engagements
  </button>
</div>
<div>
  <h2>NOS CRÉATIONS & TATTOOS FLASH À PETITS PRIX</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>
    Vous voulez une œuvre pour vous démarquer? Vous souhaitez vous faire tatouer
    mais vous manquer d'inspiration? Laisser vous tenter par une de nos
    créations inspirée de notre univers sombre et décalé ou optez pour l'un de
    nos flashs à prix tout doux. Flash à partir de 50€
  </p>
  <button routerLink="/creations" routerLinkActive="active">Black Book</button>
</div>
<div>
  <h2>CONSEILS & SOINS TATTOOS</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>
    La réussite d’un tatouage ne dépend pas uniquement du talent du tatoueur. En
    adoptant les bonnes conduites, vous contribuerez, vous aussi, au fait que
    votre tatoueur soit dans de bonnes conditions, que votre tatouage cicatrise
    et vieillisse bien. Et contrairement à ce que beaucoup pensent, ces bonnes
    pratiques démarrent avant même le début de votre tatouage. Tour d’horizon
    des différents soins à apporter à votre tatouage.
  </p>
  <button>Conseils & fiche de soins</button>
</div>
<div>
  <h2>TATTOO GALLERY</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Notre travail en images</p>
  <button>Galerie</button>
</div>
<div>
  <h2>HORAIRES & CONTACT</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Tattoo avec ou sans rendez-vous</p>
  <button>Coordonnées</button>
</div>
<div>
  <h2>TATTOO BLOG</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>
    Tout l'univers du tatouages, histoires et innovations, artistes et styles,
    etc.
  </p>
  <button>Blog</button>
</div>
