<h1>Tarifs Piercings</h1>
<p>avec bijoux en titane ou strass*</p>
<div id="price_piercings">
  <div class="zoneprice" id="ear">
    <p><strong>Oreilles</strong></p>
    <ul>
      <li>Lobe : 20€</li>
      <li>Hélix : 35€</li>
      <li>Conch : 35 €</li>
      <li>Snug : 35 €</li>
      <li>Anti-hélix : 40€</li>
      <li>Anti-tragus : 40€</li>
      <li>Tragus : 40€</li>
      <li>Rook: 45€</li>
      <li>Daith : 45€</li>
      <li>Industriel : 50€</li>
      <li>Punchy plug 8mm : 70€</li>
    </ul>
  </div>
  <div class="zoneprice" id="face">
    <p><strong>Visage</strong></p>
    <ul>
      <li>Nez/Narine* : 35€</li>
      <li>High-nostril* : 35€</li>
      <li>Cheek/Joue/Dahlia : 35€</li>
      <li>Labret : 35€</li>
      <li>Labret décalé : 35€</li>
      <li>Madonna : 35€</li>
      <li>Médusa : 35€</li>
      <li>Arcade : 40€</li>
      <li>Septum : 40€</li>
      <li>Nasal Ang : 40€</li>
      <li>Bridge : 40€</li>
    </ul>
  </div>
  <div class="zoneprice" id="mouth">
    <p><strong>Zone buccale</strong></p>
    <ul>
      <li>Langue : 40€</li>
      <li>Smiley (frein supérieur) : 50€</li>
      <li>Frowny (frein inférieur) : 50€</li>
      <li>Sublingual : 50e</li>
    </ul>
  </div>
  <div class="zoneprice" id="body">
    <p><strong>Corps</strong></p>
    <ul>
      <li>Interdigital : 35€</li>
      <li>Nombril* : 40€</li>
      <li>Nombril inversé* : 40€</li>
      <li>Téton : 40€</li>
    </ul>
  </div>
  <div class="zoneprice" id="microdermal">
    <p><strong>Microdermal</strong></p>
    <ul>
      <li>Cleavage* : 70€</li>
      <li>Madison* : 70€</li>
      <li>3ème Oeil* : 70€</li>
      <li>Larme* : 70€</li>
      <li>Nuque* : 70€</li>
      <li>Dracula* : 100€</li>
    </ul>
  </div>
  <div class="zoneprice" id="genital">
    <p><strong>Piercing Génitaux</strong></p>
    <ul>
      <li>Sur RDV, nous contacter.</li>
    </ul>
  </div>
</div>
<p class="zoneprice" id="childoffer">Offre enfant 2 lobes : 25€</p>
