<h1>LE MAQUILLAGE PERMANENT RÉFÉRENCE À GRENOBLE (ISÈRE 38)</h1>
<p>
  Située à Grenoble, sur les quais de l'Isère coté téléphérique. Ma petite
  imprimerie, clinique de dermographie vous accueille avec et sans rendez-vous.
  Notre force réside dans l'accompagnement bienveillant et le conseil
  professionnel. Nous mettons notre expérience à votre service, 7J/7, pour
  répondre à vos questions. Taches de rousseur, grain de beauté, restructuration
  des sourcils, correction capillaire, maquillage permanent. Nous mettons tout
  en œuvre pour vous satisfaire et transformer votre expérience de maquillage
  semi ou permanent en un moment unique. Ma petite imprimerie, est le salon de
  maquillage permanent de référence à Grenoble.
</p>
<div>
  <h2>LE MAQUILLAGE SEMI OU PERMANENT ?</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>Zoom sur nos techniques</p>
  <button routerLink="" routerLinkActive="">Découvrir</button>
</div>
<div>
  <h2>GUIDE PRATIQUE DU MICROBLADING</h2>
  <img src="/src/assets/images/placeholderimage.jpg" alt="Image Placeholder" />
  <p>La broderie du sourcil</p>
  <button routerLink="/contact" routerLinkActive="active">Contact</button>
</div>
