<h1>Nos Engagements</h1>
<h2>
  CHEZ MA PETITE IMPRIMERIE LA SECURITE DE NOS CLIENTS EST NOTRE PRIORITE.
</h2>
<img />
<div>
  <h3>LES LOCAUX</h3>
  <p>
    Dans notre petite imprimerie, nous nettoyons les sols 2 fois par jour avec
    des produits ANIOS conformes aux <strong>normes AFNOR </strong>d’efficacité
    antimicrobienne.<br />
    ​Tous les points d’eau sont équipés de commandes au genou, les distributeurs
    de savon sont remplis de <strong>savon antibactérien</strong>.<br />
    L’ensemble de nos surfaces de travail sont nettoyées et désinfectées après
    chaque acte de tatouage avec saf’surface de la marque ANIOS conformes aux
    normes AFNOR. <br />Tous nos déchets à risques infectieux ( DASRI ) sont
    conditionnés dans des conteneurs adaptés et conformes aux règlementations en
    vigueur. <br />La société COLLECTE MEDICALE est chargé de l’évacuation
    trimestriel de nos conteneurs. <br />Nous avons à notre disposition une
    salle de stérilisation, indépendante et entièrement équipée. L’acte de
    tatouage est effectué dans une salle indépendante, propre, non-fumeur,
    <strong>interdit aux animaux et réservé à la pratique du tatouage.</strong
    ><br />
    Nos locaux sont entièrement climatisés et équipé de toilettes indépendants.
  </p>
</div>
<img />
<div>
  <h3>LE MATÉRIEL</h3>
  <p>
    Nous utilisons de dermographe rotatif de type PEN, équipé de cartouche
    stérile à usage unique, déballées et jetées devant nos clients.<br />
    Nous utilisons des cups d'encre stériles. Nous utilisons des gants à usage
    unique en nitrile et des champs stériles pour tout acte de tatouage. ​<br />
    Toutes nos encres et pigments sont fabriqué et achetés en France. ​<br />
    Tous nos produits de soins font partis de la pharmacopée française.
  </p>
</div>
<img />
<div>
  <h3>LES BONNES PRATIQUES</h3>
  <p>
    Le lavage des mains est effectué avec du savon antibactérien avant et après
    chaque acte de tatouages. <br />Nos tatoueurs portent rigoureusement un
    masque chirurgical en toute circonstance durant l’acte de tatouage.
  </p>
</div>
